@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&display=swap');
*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans Malayalam', sans-serif;
}
body{
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
}
header{
    position: fixed;
    padding: 25px 30px 25px 50px;
    background-color: #405EA6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
}
.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
nav{
    display: inline-block;
}
nav a{
    background-color: #405EA6;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
nav a:hover{
    background-color: #81A1DA;
    border-radius: 5px;
    color: #fff;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn{
    background-color: #405EA6;
    color: #fff;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.dropdown .dropdown-content{
    display: none;
    position: absolute;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
}
.dropdown .dropdown-content a{
    margin-top: 2px;
    color: #405EA6;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    background-color: #C2D9F8;
    background-color: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown .dropdown-content a:hover {
    color: #8FDDE7;
    
}

.dropdown:hover .dropbtn {
    background-color: #81A1DA;
}
main{
    align-items: center;
    display: inline-block;
    margin-top: 180px;
}
.container{
    display: flex;
}
.container img{
    width: 552px;
    height: 353px;
    margin-left: 50px;
}
.container .konten{
    border-radius: 17px;
    width: 600px;
    height: 263px;
    margin-top: 30px;
    margin-right: 89px;
    background-color: #E0EEFB;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.226);
}
.container .konten h1{
    margin-top: 34px;
    margin-left: 28px;
    text-align: left;
    font-weight: bold;
}
.container .konten p{
    margin: 15px 28px 30px;
}
.container .konten a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 13px 44px 13px 44px;
    margin-left: 28px;
    background: #81A1DA;
    border-radius: 39px;
    
}
.container .konten a:hover{
    background-color: #6DBED1;
}
.berita h2{
    text-align: center;
    color: #fff;
    width: 550px;
    height: 50px;
    background-color: #405EA6;
    padding: 10px 150px;
    margin-top: 90px; 
    margin-left: 390px;
    border-radius: 10px;
}
.kontena{
    display: flex;
    float: left;
    margin: 120px 50px;
    width: 550px;
    height: 300px;
    background-color: #E0EEFB;
    border-radius: 17px;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.226);
}
.kontena img{
    width: 230px;
    height: 230px;
    margin: 30px 10px;
}
.kontena .isia{
    margin: 49px 25px 20px 23px;
}
.kontena .isia p{
    text-align: left;
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 16px;
}
.kontena .isia a{
    margin-bottom: 32px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 13px 44px 13px 44px;
    top: 20px;
    background: #81A1DA;
    border-radius: 39px;
}
.kontena .isia a:hover{
    background-color: #6DBED1;
}
.kontenb{
    display: flex;
    margin: 120px 50px;
    width: 550px;
    height: 300px;
    background-color: #E0EEFB;
    border-radius: 17px;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.226);
}
.kontenb img{
    width: 230px;
    height: 230px;
    margin: 30px 10px; 
}
.kontenb .isib{
    margin: 49px 25px 20px 23px;
}
.kontenb .isib p{
    text-align: left;
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 16px;    
}
.kontenb .isib a{
    margin-bottom: 32px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 13px 44px 13px 44px;
    top: 20px;
    background: #81A1DA;
    border-radius: 39px;
}
.kontenb .isib a:hover{
    background-color: #6DBED1;
}
footer{
    display: inline-block;
    width: 100%;
    height: 190px;
    background-color: #405EA6;
}
footer .containerfooter{
    padding: 50px;
    display: inline-block;
    color: #fff;
}
footer .containerfooter h1{
    color: #fff;
    padding: 10px 0 0;
}
footer .containerfooter p{
    color: #fff;
}
footer .sosmed{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 30px;
    margin: 15px 0px 0px 500px;
}
footer .sosmed h4{
    font-size: 25px;
}
footer .sosmed a{
    margin-top: 2px;
    text-decoration: none;
    color: #fff;
}
footer .sosmed a:hover{
    color: orange;
}

@media(min-width:375px) and (max-width: 667px){
    body{
        position: relative;
        overflow-x: hidden;
    }
    header{
        position: fixed;
        background-color: #405EA6;
        display: inline-table;
        justify-content: space-between;
        width: 100%;
    }
    .logo a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        justify-content: center;
        margin-left: 80px;
        font-weight: bold;
    }
    nav{
        margin-top: 20px;
        position: relative;
        display: inline-table;
    }
    nav a{
        display:inline-block;
        background-color: #405EA6;
        color: #fff;
        padding: 7px;
        font-weight: bold;
        margin-left: 5px;
        border-radius: 5px;
        text-decoration: none;
    }
    nav a:hover{
        background-color: #81A1DA;
        border-radius: 5px;
        color: #fff;
    }
    .dropdown{
        padding: 5px;
        display: inline-block;
        position: relative;
        width: auto;
        height: auto;
    }
    .dropdown .dropbtn{
        background-color: #405EA6;
        color: #fff;
        padding: 8px 10px;
        font-size: 15px;
        font-weight: bold;
        border: none;
    }
    .dropdown .dropdown-content{
        position: absolute;
    }
    .dropdown .dropdown-content a{
        color: #405EA6;
        margin-top: 2px;
        margin-left: -1px;
        padding: 15px;
        text-decoration: none;
        display: block;
        background-color: #fff;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown .dropdown-content a:hover {
        color: #8FDDE7;
        
    }
    .dropdown:hover .dropbtn {
        background-color: #81A1DA;
    }
    main{
        align-items: center;
        display: inline-block;
    }
    .container{
        display: inline-block;
    }
    .container img{
        width: 400px;
        height: 250px;
    }
    .container .konten{
        border-radius: 17px;
        width: 400px;
        height: 300px;
        margin-left: 50px;
        margin-right: 40px;
        background-color: #E0EEFB;
        box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.226);
    }
    .container .konten h1{
        padding-top: 50px;
        font-size: 28px;
    }
    .container .konten p{
        margin: 10px 28px 30px;
        text-align: left;
    }
    .container .konten a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin-left: 100px;
        background: #81A1DA;
        border-radius: 39px;
        
    }
    .container .konten a:hover{
        background-color: #6DBED1;
    }
    .berita h2{
        text-align: center;
        color: #fff;
        width: 100px;
        height: 50px;
        background-color: #405EA6;
        padding-left: 55px;
        margin-left: 150px;
        border-radius: 10px;
    }
    .kontena{
        display: inline-block;
        margin-top: 50px;
        width: 400px;
        height: 650px;
        background-color: #E0EEFB;
        border-radius: 17px;
        box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.226);
    }
    .kontena img{
        width: 400px;
        height: 350px;
        margin-top: 30px;
    }
    .kontena .isia{
        display: inline-block;
        margin: 0px 25px 20px 23px;
    }
    .kontena .isia p{
        text-align: left;
        margin-top: 6px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    .kontena .isia a{
        margin-bottom: 32px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 13px 44px 13px 44px;
        top: 20px;
        background: #81A1DA;
        border-radius: 39px;
    }
    .kontena .isia a:hover{
        background-color: #6DBED1;
    }
    .kontenb{
        display: inline-block;
        margin-top: 10px;
        width: 400px;
        height: 610px;
        background-color: #E0EEFB;
        border-radius: 17px;
        box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.226);
    }
    .kontenb img{
        width: 400px;
        height: 350px;
        margin-top: 30px;
    }
    .kontenb .isib{
        display: inline-block;
        margin: 0px 25px 20px 23px;
    }
    .kontenb .isib p{
        text-align: left;
        margin-top: 6px;
        margin-bottom: 30px;
        font-size: 16px;
    }
    .kontenb .isib a{
        margin-bottom: 32px;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 13px 44px 13px 44px;
        top: 20px;
        background: #81A1DA;
        border-radius: 39px;
    }
    .kontenb .isib a:hover{
        background-color: #6DBED1;
    }
    footer{
        display: inline-table;
        width: 100%;
        height: 300px;
        background-color: #405EA6;
    }
    footer .containerfooter{
        padding-top: 30px;
        display: inline-table;
        color: #fff;
    }
    footer .containerfooter h1{
        color: #fff;
        padding: 10px 0 0;
    }
    footer .containerfooter p{
        color: #fff;
    }
    footer .sosmed{
        color: #fff;
        display: inline;
        text-decoration: none
    }
    footer .sosmed h4{
        margin-left: 50px;
        font-size: 25px;
    }
    footer .sosmed a{
        margin-top: 2px;
        margin-left: 50px;
        text-decoration: none;
        color: #fff;
    }
    footer .sosmed a:hover{
        color: orange;
    }
}
